.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    @include max-tablet {
            text-align: center;
    }
}

.footer a {
    text-decoration: none;
    font-style: normal;

}

.footer-add {
    color: #757575;
    display: block;
    padding-top: 9px;
}

.footer-add:hover,
.footer-add:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add2 {
    color: #fff;
    display: block;
    padding-top: 20px;
}

.footer-add2:hover,
.footer-add2:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add,
.footer-add2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer2 {
    @include desktop {
    display: flex;
    }

}

.logo-f {
    color: #fff;

}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-box {
    margin-left: 70px;
}

.connect {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-networks {
    display: flex;
}

.social-networks .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}

.social-networks .link:hover,
.social-networks .link:focus {
    background-color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks .item:not(:last-child) {
    margin-right: 10px;
}

.social-icon1 {
    fill: #FFFFFF;
}

.footer-form {
    padding-left: 93px;
}

.footer-form-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-input {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    margin-top: 20px;
    padding-left: 16px;
    outline: none;
}

.footer-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.footer-input:focus-within {
    color: #fff;
}

.footer-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    cursor: pointer;
    margin-top: 20px;
}

.footer-line {
    display: flex;
}

.footer-form-svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}