.section3 {
    background: #F5F4FA;
}

.team-list .item {
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .photo-top {
    margin-top: 30px;
    margin-bottom: 0px;
}

.photo-top {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo-post {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.social-icon-list:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}